@keyframes color {
	0% {
		background-color: #41cab8;
	}

	17% {
		background-color: #28bba7;
	}

	34% {
		background-color: #31c5df;
	}

	51% {
		background-color: #3ae9d2;
		//background-color: #8165a1;
	}

	68% {
		background-color: #3ae9bd;
		//background-color: #c766aa;
	}

	85% {
		background-color: #34928d;
	}

	100% {
		background-color: #41cab8;
	}


}

@keyframes colorgrad {
	0% {
		background: rgb(88, 226, 154);
		background: linear-gradient(69deg, rgba(88, 226, 154, 1) 16%, rgba(64, 226, 237, 1) 53%, rgba(199, 75, 238, 1) 100%);
	}

	17% {
		background: rgb(88, 226, 154);
		background: linear-gradient(21deg, rgba(88, 226, 154, 1) 10%, rgba(64, 226, 237, 1) 48%, rgba(238, 75, 233, 1) 100%);
	}

	34% {
		background: rgb(88, 226, 154);
		background: linear-gradient(21deg, rgba(88, 226, 154, 1) 3%, rgba(64, 226, 237, 1) 48%, rgba(75, 238, 207, 1) 100%);
	}

	51% {
		background: rgb(88, 226, 154);
		background: linear-gradient(47deg, rgba(88, 226, 154, 1) 3%, rgba(64, 226, 237, 1) 41%, rgba(75, 238, 161, 1) 75%);
	}

	68% {
		background: rgb(88, 226, 154);
		background: linear-gradient(80deg, rgba(88, 226, 154, 1) 10%, rgba(64, 226, 237, 1) 61%, rgba(75, 200, 238, 1) 83%);
	}

	85% {
		background: rgb(88, 226, 154);
		background: linear-gradient(25deg, rgba(88, 226, 154, 1) 10%, rgba(64, 226, 237, 1) 61%, rgba(158, 121, 223, 1) 97%);
	}

	100% {
		background: rgb(88, 226, 154);
		background: linear-gradient(69deg, rgba(88, 226, 154, 1) 16%, rgba(64, 226, 237, 1) 53%, rgba(199, 75, 238, 1) 100%);
	}


}