@keyframes color {
	0% {
		background-color: #41cab8;
	}

	17% {
		background-color: #28bba7;
	}

	34% {
		background-color: #31c5df;
	}

	51% {
		background-color: #3ae9d2;
		//background-color: #8165a1;
	}

	68% {
		background-color: #3ae9bd;
		//background-color: #c766aa;
	}

	85% {
		background-color: #34928d;
	}

	100% {
		background-color: #41cab8;
	}


}

@-webkit-keyframes color {}