@import "libs/normalize";
@import "libs/animate";
@import "libs/fonts";

@import "base/variables";
@import "base/mixins";

* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 990px;
	height: 100%;

	padding: 0 15px;
}

.wrapper {
	height: 100%;
	display: flex;
	justify-content: space-between;

	align-items: center;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

a {
	&:hover {
		color: $maincolor;
	}
}

.fixed {
	position: fixed;
	width: 100%;
}


@import "blocks/header";
@import "blocks/main";
@import "blocks/footer";

@import "base/anim";

@import "base/media";