.header {


	&__menu {
		width: 100%;
		background-color: #fff;
		height: 90px;
		padding-top: 10px;


		&-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__logo {
		font-size: 24px;
		font-weight: 300;

		a {
			text-decoration: none;
			color: $colorgr;
		}
	}

	&__nav {
		@include reset-list;

		display: flex;

		text-transform: uppercase;

		height: 30px;

		a {
			text-decoration: none;
			display: block;
			height: 100%;
			width: 100%;
			padding: 6px 20px;


		}

		&-item {

			display: block;

			font-size: 14px;
			font-weight: 300;

			border-right: 1px solid $colorgrl;

			&:last-child {
				border-right: none;

				a {
					padding-right: 0;
				}
			}
		}
	}

	&__info {

		background-color: #f3f3f3;
		min-height: 140px;

		padding-top: 60px;
	}

	&__tags {
		//background-color: $maincolor;
		height: 60px;
		color: #fff;
		animation: color 50s ease-in-out infinite;
		//transition: all 1s ease;
	}

	/* &__tags:hover {
		background-color: $maincolor_hl;
	} */

	&__tag-menu {
		@include reset-list;
		display: flex;
		justify-content: center;

		height: 100%;
		width: 100%;
		margin: 0;

		a {
			display: block;
			height: 100%;
			text-decoration: none;
			color: #fff;
			font-size: 14px;
			padding: 20px 10px 2px 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}