.header {


	&__menu {
		z-index: 1500;
		width: 100%;
		background-color: #fff;
		min-height: 90px;
		padding-top: 10px;

		transition: min-height 1s ease;


		&-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__logo {
		font-size: 24px;
		font-weight: 300;

		a {
			text-decoration: none;
			color: $colorgr;
		}
	}

	&__nav {
		@include reset-list;

		display: flex;

		text-transform: uppercase;

		height: 30px;

		a {
			text-decoration: none;
			display: block;
			height: 100%;
			width: 100%;
			padding: 6px 20px;

			color: $colorgr;

			&:hover {
				color: $maincolor;
			}
		}

		&-item {

			display: block;

			font-size: 14px;
			font-weight: 300;

			border-right: 1px solid $colorgrl;

			&:last-child {
				border-right: none;

				a {
					padding-right: 0;
				}
			}
		}
	}

	&__info {

		& .container {
			padding: 20px 15px;
		}

		background-color: #f3f3f3;
		//height: 140px;

		//padding-top: 90px;
	}

	&__desc {
		flex-basis: 42%;

		font-size: 14px;
		color: $colorgr;
	}

	&__social {
		@include reset-list;
		display: flex;
		align-items: center;

		&-item {
			display: block;

			width: 40px;
			height: 40px;
			margin-right: 10px;

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			&_yt {
				background: url(../../icons/youtube.svg) center (center/cover) no-repeat;

				&:hover,
				&:focus {
					background: url(../../icons/youtube1.svg) center (center/cover) no-repeat;
				}
			}

			&_fb {
				height: 30px;
				width: 30px;
				background: url(../../icons/facebook.svg) center (center/cover) no-repeat;

				&:hover,
				&:focus {
					background: url(../../icons/facebook1.svg) center (center/cover) no-repeat;
				}
			}
		}
	}

	&__tags {
		/* min-height: 60px; */
		color: #fff;
		animation: colorgrad 50s ease-in-out infinite;

		padding: 15px;

		transition: all 1s ease;

	}

	&__tag-menu {
		@include reset-list;
		display: flex;
		justify-content: center;

		height: 100%;
		width: 100%;
		margin: 0;

		a {
			display: block;
			height: 100%;
			text-decoration: none;
			color: #fff;
			font-size: 14px;
			padding: 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}